/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

/* Variables */
:root {
  --theme-1-color-primary: rgb(6, 6, 39);
  --theme-1-color-grey: rgb(202, 202, 202);
  --theme-1-border-color: rgb(103, 103, 121);

}

/* Base styling */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Makes the root font size to 10px for default browsers */
}

body {
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: var(--theme-1-color-grey);
  font-weight: 300;
}

.menu-container {
    background-color: var(--theme-1-color-primary);
    width: 150px;
    height: 100vh;
}

.menu-container div {
    padding: 10px 20px;
}

.menu-container div a {
    margin-left: 8px;
}

.menu-container div + div {
    padding-top: 10px;
}

i {
    color: var(--theme-1-color-grey)
}

.border {
    border-bottom: 1px solid var(--theme-1-border-color);
}

@media (max-width: 576px) {
    .menu-container div a {
        display: none;
    }

    .menu-container {
        width: 50px;
    }
}
